#biblioteca{
  margin: 0 40px;
}

.card-default {
  margin: 20px 0;
  background: rgba(118, 173, 255, 0.103);
}

.descricao ul li{
  display: inline-block;
  max-width: 50%;
  text-align: justify;
  padding: 5%;
  padding-top:5%;
}

.card-default .sumario {
  display: flex;
  color: rgb(161, 161, 161);
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  padding: 14px;
}

.resumo{
  padding-right: 7px;
  padding-left: 7px;
  text-align: justify;
  margin-bottom: 10px;
}

.card-default .sumario .nome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #545457;
  font-size: 24px;
  padding: 14px 7px;
}

.card-default .sumario span {
  background: #58858d;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.card-default .sumario span:hover {
  background: #71c0ce;
}

.descricao li h3 {
  text-align: center;
}

.descricao{
  display: none;
  padding: 28px;
}

.show-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descricao .sumario{
  display: flex;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content:center ;
}

.imagem{
  width: 100px;
  margin: 0 10px;
  /*overflow: hidden;*/
}

#text{
  width: 80%;
  text-indent:10px;
  text-align: justify;
}


@media (max-width: 875px){
 .descricao {
      
      flex-direction: column;
      
  }

  .descricao .imagem{
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  #text {
    width: 100%;
  }
}

@media (max-width: 410px){
  .card-default .sumario .nome{  
     font-size: 19px;
  }
  .card-default .sumario .nome span{  
    font-size: 15px;
  }

 .resumo{
   font-size: 16px;
 }
}

