#eventos {
    margin: 0 auto;
    width: 70%;
}

.card-evento {
    box-shadow: 5px 5px 20px 0px #cccccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 900px;
}

.card-evento img {
    border-radius: 0.4em 0 0 0.4em;
    margin-left: 5%;
    width: 200px;
}

.card-evento h3 {
    margin-top: 10px;
}

.texto {
    background: var(--azul);
    border-radius: 0 0.4em 0.4em 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 5%;
    text-align: justify;
}

@media (max-width: 1280px) {
    .card-evento {
        box-shadow: 5px 5px 20px 0px #cccccc;
        border-radius: 0.4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        min-width: 135px;
    }

    .texto {
        border-radius: 0 0 0.4em 0.4em;
        margin-left: 0;
    }

    .card-evento img {
        border-radius: 0.4em 0.4em 0 0;
        margin: 10px 0;
        width: 100%;
        max-width: 200px;
    }

    .card-evento h3 {
        text-align: center;
    }
}