footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 51, 51);
    justify-content: space-around;
    color: white;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 2px solid rgba(80, 80, 80, 0.651);
    border-bottom: 2px solid rgba(44, 44, 44, 0.651);
    /*font-size: 20px;*/
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    padding: 20px;
    display: flex;
}

footer p {
    margin-left: 20px;
}

footer .logos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .redes-sociais li{
    line-height: 50px;
}

footer .redes-sociais img {
    width: 25px;
}

footer .localizacao {
    width: 30%;
    padding: 20px;
}

footer .localizacao img {
    width: 25px;
}

.logo_1 > img {
    margin: 10px 0;
    width: 60%;
}

.logo_2 > img {
    margin: 10px 5px;
    width: 35%;
}

.logo_3 > img {
    margin: 10px 0;
    width: 30%;
}

@media (max-width: 1000px){
    footer {
        padding-bottom: 0;
    }

    footer .logos {
        width: 50%;
    }

    footer .localizacao {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    footer .redes-sociais li{
        padding-bottom: 0;
    }

    footer .redes-sociais p{
        margin-bottom: 0;
    }
}