footer {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(51, 51, 51);
    justify-content: space-around;
    color: white;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 2px solid rgba(80, 80, 80, 0.651);
    border-bottom: 2px solid rgba(44, 44, 44, 0.651);
    height: 250px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    padding: 20px;
    display: flex;
}

footer p {
    text-align: justify;
    margin: 0 10px;
}

footer .logos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
}

footer>.redes-sociais {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .redes-sociais .rede {
    line-height: 50px;
    display: flex;
}

footer .redes-sociais img {
    width: 25px;
}

footer .redes-sociais>div {
    display: flex;
}

footer .localizacao {
    width: 30%;
}

footer .localizacao img {
    width: 25px;
}

.logo_1 img, .logo_2 img, #logo-ufma {
    transition: 1s;
}

.logo_1 img {
    margin: 10px 0;
    width: 315px;
}

.logo_2 img {
    margin: 10px 5px;
    width: 183px;
}

#logo-ufma {
    width: 78px;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    footer {
        height: 300px;
        padding-bottom: 0;
        flex-wrap: nowrap;
    }

    footer .localizacao {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 831px) {
    footer>.localizacao {
        width: 100%;
    }

    footer>.redes-sociais {
        margin: 10px 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    footer>.redes-sociais>.rede {
        flex-direction: row;
        margin: 0 10px;
    }

    footer>.redes-sociais>.rede {
        flex-direction: row;
        justify-content: center;
    }

    footer>.localizacao>ul>li {
        justify-content: center;
    }

    footer {
        height: 500px;
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    .logo_1 img, .logo_2 img, #logo-ufma {
        transition: 1s;
    }

    .logo_1 img {
        width: 235px;
    }

    .logo_2 img {
        width: 103px;
    }

    #logo-ufma {
        width: 70px;
    }
}

@media (max-width: 321px) {
    .logo_1 img {
        width: 235px;
    }

    .logo_2 img {
        width: 103px;
    }

    #logo-ufma {
        width: 70px;
    }
}