.form-default {
    width: 300px;

}

.card-default {
    width: min-content;
   
}

.btn-default{
	margin: 15px;
	height: 50px;
	
}

@media (max-width: 1280px){
    .form-default {
        width: 250px;
    }
   
}

