@import url(style.css);

header {
    background-color: #eaf0f8;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.116);
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: #6FA9B3;
    width: 100%;
    height: 100%;
}

/*#navbar > .menu {
    overflow: hidden;
}*/

/* Dropdown */

ul > .dropdown-sobre-li {
    position: relative;
    display: inline-block;
    color: #6FA9B3;    
}

ul > .dropdown-sobre-li > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85px;
    margin-bottom: 5px;
}

ul > .dropdown-sobre-li > .dropdown-sobre {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 125px;
    transition: .2s;
    z-index: 1001;
    border-radius: 5px;
}

ul > .dropdown-sobre-li > .dropdown-sobre > a {
    text-align: center;
    line-height: 50px;
    transition: .2s;
}

ul > .dropdown-sobre-li > .dropdown-sobre > a:hover {
    background-color: rgba(124, 124, 124, 0.219);
}

.show {

    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-sobre.show {
    animation: fade-in .5s;
}

/* LOGOS */

header .logo {
    align-items: center;
    width: 25%;
    min-width: 220px;
    max-width: 300px;
}

img#lg-ufma-navbar{
    width: 25%;
}

img#lg-dexters-navbar{
    width: 65%;
}

/* NAVBAR */

#navbar {
    margin: auto;
}

header ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}

header li {
    padding: 15px;
    margin: 0 5px;
    list-style: none;
    border-radius: 3px;
    align-items: center;
    transition: .2s;
}

header li:hover {
    transition: 1s;
    background-color: rgba(124, 124, 124, 0.219);
    cursor: pointer;
}

/* RESPONSIVIDADE MOBILE */

#btn-mobile {
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: 1s;
}

#btn-mobile:active {
    transform: scale(.95);
}

@media (max-width: 1280px){
    header {
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
        transition: 1s;
    }

    header #navbar {
        margin-right: 20px;
    }

    header ul {
        flex-direction: column;
        transition: 1s;
    }

    #btn-mobile {
        display: block;
    }
    
    .menu {
        z-index: 999;
        display: block;
        position: fixed;
        width: 100%;
        top: 60px;
        right: 0;
        background-color: #eaf0f8;
        visibility: hidden;
        height: 0;
        transition: .6s;
        overflow-y: hidden;
    }
    
    #navbar.show .menu{
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }

    .dropdown-sobre-li {
        display: flex;
        margin: auto;
    }

    .menu li {
        width: 100px;
        margin: auto;
        text-align: center;
    }

    main {
        margin-top: 90px;
    }

    ul > .dropdown-sobre-li > div {
        width: 75px;
        justify-content: space-between;
    }

    ul > .dropdown-sobre-li {
        display: flex;
    }

    ul > .dropdown-sobre-li > .dropdown-sobre {
        top: 40px;
    }

    ul > .dropdown-sobre-li > div > div {
        justify-content: space-evenly;
    }
}

@media (max-width: 335px) {
    #btn-mobile {
        width: 40px;
        height: 40px;
        transition: 1s;
    }
}

/* ANIMAÇÕES */