/* BANNER */

section#banner{
    height: 400px;
}

section#banner .banner-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-image: url('../images/banner_v02.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

.fundo-banner {
    background: rgb(111, 169, 179, .6);
}

/* CONHEÇA O DEXTERS */

section#conheca-dexters {
    display: inline-block;
    text-align: center;
    padding: 5%;
}

section#conheca-dexters p {
    padding: 0 2%;
    text-justify: inter-word;
    text-align: justify;
}

/* ATIVIDADES */

#atividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e2e2e2;
    height: 650px;
}

#atividades > .atividades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > .atividades-desenvolvidas {
    background-color: #e2e2e2;
    text-align: center;
    padding: 20px 0;
}

#atividades > .atividades > .images-atividades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
}

#atividades > .atividades > .images-atividades > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: 0 10px;
    border-radius: 6px;
    background: linear-gradient(233.07deg, #6FA9B3 21.5%, rgba(243, 210, 72, 0.94) 84.78%);
    box-shadow: 5px 5px 7px 5px rgba(0,0,0,0.14);
    transition: .2s;
}

#atividades > .atividades > .images-atividades > .card-atividade-1:before{
    content: "Engenharia de Software";
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}
#atividades > .atividades > .images-atividades > .card-atividade-2:before{
    content: "Modelagem de Sistemas Complexos";
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}
#atividades > .atividades > .images-atividades > .card-atividade-3:before{
    content: "Interação Humano Computador";
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}
#atividades > .atividades > .images-atividades > .card-atividade-4:before{
    content: "Sistemas de Informação";
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}
#atividades > .atividades > .images-atividades > .card-atividade-5:before{
    content: "Ensino de Computação";
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

#atividades > .atividades > .images-atividades > .card-atividade-1:hover{
    font-size: 21px;
}

#atividades > .atividades > .images-atividades > div:hover {
    height: 260px;
    width: 260px;
    font-size: 19px;
}

#atividades > .texto-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 1000px;
    margin-top: 15px;
}

.texto {
    width:230px;
}

.texto > h3 {
    text-align: center;
}

/*
MEDIA QUERIES
*/

@media (max-width: 1345px){
    main > .atividades-desenvolvidas {
        border-bottom: 2px solid rgb(124, 124, 124, 0.219);
    }

    #atividades > .texto-area {
        width: 600px;
    }
    
    #atividades {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 900px;
    }
    
    #atividades > .atividades > .images-atividades {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        height: 850px;
        width: 540px;
    }
    
    #atividades > .atividades > .images-atividades > div{
        margin: 10px 10px;
    }

    #atividades > .atividades > .images-atividades > div:hover {
        height: 255px;
        width: 255px;
        font-size: 19px;
    }
}

@media (max-width: 1151px){
    #atividades > .texto-area {
        margin-right: 20px;
        width: 400px;
    }

    section #banner {
        height: 600px;
    }
}

@media (max-width: 991px){
    #atividades {
        height: 1050px;
    }

    #atividades > .atividades > .images-atividades {
        flex-direction: column;
        align-items: space-evenly;
        justify-content: center;
        flex-wrap: nowrap;
        height: 1000px;
        width: 300px;
    }

    #atividades > .atividades > .images-atividades > div {
        height: 200px;
    }

    #atividades > .atividades > .images-atividades > div:hover {
        height: 205px;
        width: 255px;
        font-size: 19px;
    }

    #atividades > .texto-area {
        width: 400px;
        margin-right: 20px;
    }

    .atividades-desenvolvidas > p{
        margin: 0 20px;
    }
}

@media (max-width: 723px) {
    #atividades > .texto-area {
        justify-content: center;
        width: 85%;
        margin: 0 15px;
    }

    #atividades > .atividades {
        flex-direction: row;
    }

    #atividades {
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        height: 930px;
    }

    #atividades > .atividades > .images-atividades {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 710px) {
    #atividades {
        height: 1030px;
    }

    /*#atividades > .atividades > .images-atividades > div {
        width: 220px; 
    }*/

    /*#atividades > .atividades > .images-atividades > div:hover {
        height: 225px;
        width: 225px;
        font-size: 19px;
    }*/
}

@media (max-width: 545px) {
    /*#atividades > .atividades > .images-atividades {
        flex-direction: column;
    }*/

    #atividades > .atividades > .images-atividades > div {
        width: 210px;
    }

    #atividades > .atividades > .images-atividades > div:hover {
        width: 215px;
    }
}

/*@media (max-width: 512px) {
    #atividades {
        height: 1650px;
    }
}*/

@media (max-width: 481px) {
    #atividades {
        height:700px;
    }

    #atividades > .atividades > .images-atividades > div {
        width: 125px;
        height: 125px;
    }

    /*#atividades > .atividades > .images-atividades {
        width: 350px;
        flex-direction: row;
        flex-wrap: wrap;
    }*/

    #atividades > .atividades > .images-atividades > div:hover {
        width: 130px;
        height: 130px;
    }

    #atividades > .atividades > .images-atividades > .card-atividade-1:before{
        content: "Engenharia de Software";
        font-size: 15px;
    }
    #atividades > .atividades > .images-atividades > .card-atividade-2:before{
        content: "Modelagem de Sistemas Complexos";
        font-size: 15px;
    }
    #atividades > .atividades > .images-atividades > .card-atividade-3:before{
        content: "Interação Humano Computador";
        font-size: 15px;
    }
    #atividades > .atividades > .images-atividades > .card-atividade-4:before{
        content: "sistemas de Informação";
        font-size: 15px;
    }
    #atividades > .atividades > .images-atividades > .card-atividade-5:before{
        content: "Ensino de Computação";
        font-size: 15px;
    }

    #atividades > .atividades > .images-atividades{
        align-items: center;
    }
}

@media (max-width: 435px) {
    #atividades {
        height:1000px;
    }
}