/* TRANSIÇÕES */

.fundo-banner img, .click-area.left, .click-area.right, .click-area:hover {
    transition: 1s;
}

/* Slider

.slider {
    display: block;
    height: 300px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider > li {
    list-style: none;
    position: absolute;
}

.slider > li > img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    overflow-y: hidden;
}
*/

/* BANNER */

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 400px;
    transition: 1.5s;
}

#banner > .seta {
    z-index: 999;
    cursor: pointer;
}

#banner .banner-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    margin: 0;
    overflow: hidden;
    align-items: center;
}

.active-slide {
    animation: fade-in 1s;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

#banner .fundo-banner {
    animation: banner-bg 60s infinite;
    width: 100%;
    height: 100%;
    min-width: 450px;
    z-index: -5;
}

.fundo-banner img {
    width: 120%;
    margin-left: -100px;
}

.tarja-banner {
    position: relative;
    top: -50%;
    width: 1200px;
    animation: banner-stripe-intro .5s;
    color: white;
    text-align: center;
    transition: 1s;
    background-image: linear-gradient(to right,  rgba(255, 255, 255, 0), var(--azul) 20%, var(--azul) 80%,  rgba(255, 255, 255, 0) 100%);
}

.click-area {
    position: absolute;
    width: 100px;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.25);*/
    text-align: center;
    align-items: center;
}

.click-area.left {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.50));
    left: 0;
}

.click-area.right {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.50));
    right: 0;
}

.click-area:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.seta {
    width: 30px;
    position: absolute;
    top: calc(50% - 20px);
}

.seta.left {
    transform: rotate(180deg);
    left: calc(50% - 20px);
}

.seta.right {
    right: calc(50% - 20px);;
}

/* CONHEÇA O DEXTERS */

section#conheca-dexters {
    display: inline-block;
    text-align: center;
    padding: 30px 10%;
}

section#conheca-dexters p {
    padding: 0 2%;
    text-justify: inter-word;
    text-align: justify;
}

/* ATIVIDADES */

#atividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e2e2e2;
    height: 550px;
}

#atividades>.atividades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>.atividades-desenvolvidas {
    background-color: #e2e2e2;
    text-align: center;
    padding: 20px 0;
}

#atividades>.atividades>.images-atividades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
}

#atividades>.atividades>.images-atividades>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: 0 10px;
    border-radius: 6px;
    background: linear-gradient(to bottom, var(--azul), rgba(122, 204, 218, 0.527));
    box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.14);
    transition: .2s;
}

.card-atividade-1, .card-atividade-2, .card-atividade-3, .card-atividade-4, .card-atividade-5 {
    animation: card-inc-intro 1s;
}

.card-atividade-1:before, .card-atividade-2:before, .card-atividade-3:before, .card-atividade-4:before, .card-atividade-5:before {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    padding: 5px 0;
}

#atividades>.atividades>.images-atividades>.card-atividade-1:before {
    content: "Engenharia de Software";
}

#atividades>.atividades>.images-atividades>.card-atividade-2:before {
    content: "Modelagem de Sistemas Complexos";
}

#atividades>.atividades>.images-atividades>.card-atividade-3:before {
    content: "Interação Humano Computador";
}

#atividades>.atividades>.images-atividades>.card-atividade-4:before {
    content: "Sistemas de Informação";
}

#atividades>.atividades>.images-atividades>.card-atividade-5:before {
    content: "Ensino de Computação";
}

#atividades>.atividades>.images-atividades>.card-atividade-1:hover {
    font-size: 21px;
}

#atividades>.atividades>.images-atividades>div:hover {
    height: 260px;
    width: 260px;
    font-size: 19px;
}

#atividades>.texto-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 1000px;
    margin-top: 55px;
}

.texto {
    width: 230px;
}

.texto>h3 {
    text-align: center;
}

/* MEDIA QUERIES */

/*1345px*/
@media (max-width: 1630px) {
    main>.atividades-desenvolvidas {
        border-bottom: 2px solid rgb(124, 124, 124, 0.219);
    }

    #atividades>.texto-area {
        width: 600px;
        margin: 0;
    }

    #atividades {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 900px;
    }

    #atividades>.atividades>.images-atividades {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        height: 850px;
        width: 540px;
    }

    #atividades>.atividades>.images-atividades>div {
        margin: 10px 10px;
    }

    #atividades>.atividades>.images-atividades>div:hover {
        height: 255px;
        width: 255px;
        font-size: 19px;
    }
}

@media (max-width: 1280px){
    .fundo-banner img {
        width: 140%;
    }

    .tarja-banner {
        width: 800px;
    }

    /* TRANSIÇÕES */

    .fundo-banner img, .tarja-banner {
        transition: 1s;
    }
}

@media (max-width: 1151px) {
    #atividades>.texto-area {
        margin-right: 20px;
        width: 400px;
    }

    section#banner {
        height: 300px;
    }

    /* TRANSIÇÕES */

    #banner {
        transition: 1s;
    }
}

@media (max-width: 991px) {
    #atividades {
        height: 1050px;
    }

    #atividades>.atividades>.images-atividades {
        flex-direction: column;
        align-items: space-evenly;
        justify-content: center;
        flex-wrap: nowrap;
        height: 1000px;
        width: 300px;
    }

    #atividades>.atividades>.images-atividades>div {
        height: 200px;
    }

    #atividades>.atividades>.images-atividades>div:hover {
        height: 205px;
        width: 255px;
        font-size: 19px;
    }

    #atividades>.texto-area {
        width: 400px;
        margin-right: 20px;
    }

    .atividades-desenvolvidas>p {
        margin: 0 20px;
    }
}

@media (max-width: 850px){
    .tarja-banner {
        width: 400px;
    }

    /* TRANSIÇÕES */
    .tarja-banner {
        transition: 1s;
    }
}

@media (max-width: 795px) {
    section#banner {
        height: 200px;
    }

    /* TRANSIÇÕES */

    #banner {
        transition: 1s;
    }
}

@media (max-width: 723px) {
    #atividades>.texto-area {
        justify-content: center;
        width: 85%;
        margin: 0 15px;
    }

    #atividades>.atividades {
        flex-direction: row;
    }

    #atividades {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 900px;
    }

    #atividades>.atividades>.images-atividades {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 640px){
    .fundo-banner img {
        width: 180%;
    }

    

    /* TRANSIÇÕES */

    .fundo-banner img, .tarja-banner {
        transition: 1s;
    }
}

@media (max-width: 555px) {
    #atividades>.atividades>.images-atividades>div {
        width: 210px;
    }

    #atividades>.atividades>.images-atividades>div:hover {
        width: 215px;
    }

    section#banner {
        height: 200px;
    }
    
    .fundo-banner img{
        width: 200%;
        margin-left: -200px;
    }
    
    .tarja-banner p {
        display: none;
    }

    .tarja-banner {
        width: 250px;
    }

    .click-area {
        width: 50px;
    }
    /* TRANSIÇÕES */

    #banner, .fundo-banner img, .click-area {
        transition: 1s;
    }
}

@media (max-width: 481px) {
    #atividades {
        height: 500px;
    }

    #atividades>.atividades>.images-atividades>div {
        width: 117px;
        height: 117px;
    }

    #atividades>.atividades>.images-atividades>div:hover {
        width: 122px;
        height: 122px;
    }

    .card-atividade-1:before, .card-atividade-2:before, .card-atividade-3:before, .card-atividade-4:before, .card-atividade-5:before {
        font-size: 15px;
    }

    #atividades>.atividades>.images-atividades {
        align-items: center;
    }
}

@media (max-width: 410px) {
    #atividades {
        height: 700px;
    }
}

@media (max-width: 335px) {
    #atividades {
        height: 750px;
    }
}

/* ANIMAÇÕES */

@keyframes banner-stripe-intro {
    from {
        opacity: 0;
        scale: .75;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes card-area-intro {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes banner-bg {
    0% {
        transform: translate3d(-80px, 0, 0);
    }
    
    50% {
        transform: translate3d(80px, 0, 0);
    }
    
    100% {
        transform: translate3d(-80px, 0, 0);
    }
}