#integrantes-lideres, #colaboradores, #integrantes-mestrado, #integrantes-doutorado,
#integrantes-graduacao, #ex-integrantes, .card-integrante, .modal,
.imagem, .info {
    transition: 1s;
}

#integrantes-lideres, #colaboradores, #integrantes-mestrado, #integrantes-doutorado, #integrantes-graduacao, #ex-integrantes {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-start;
    margin: 0 10%;
    margin-bottom: 50px;
    justify-content: center;
}

.titulo.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

/* CARD */

.card-integrante {
    animation: card-inc-intro .5s;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.527);
    padding: 10px;
    border-radius: 5px;
    width: 230px;
    margin: 20px;
}

.card-integrante .imagem {
    background-color: rgb(189, 189, 189);
    width: 215px;
    height: 215px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.card-integrante .imagem img {
    height: 100%;
}

h4 {
    margin: 15px 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    .titulo.fixed {
        top: 75px;
    }

    .card-integrante {
        width: 200px;
    }

    .card-integrante .imagem {
        width: 185px;
        height: 185px;
    }

    .info {
        width: 80px;
    }

    /* TRANSIÇÕES */

    .modal, .imagem, .info {
        transition: 1s;
    }
}

@media (max-width: 640px) {
    .modal {
        width: 380px;
        height: 220px;
    }

    .info {
        width: 70px;
    }

    /* TRANSIÇÕES */

    .modal, .info {
        transition: 1s;
    }
}

@media (max-width: 381px) {
    .modal {
        width: 90%;
    }

    .card-integrante {
        width: 160px;
    }

    .card-integrante>.imagem {
        width: 145px;
        height: 145px;
    }

    /* TRANSIÇÕES */

    .card-integrante, .imagem {
        transition: 1s;
    }
}
