/* TRANSIÇÕES */

.descricao, .compartilhar, .autores {
    transition: 1s;
}

.paginacao a, .paginacao a:hover {
    transition: .5s;
}

/* FORMULÁRIO DE BUSCA */

button#buscar {
    margin: 0 auto;
    border: rgb(185, 185, 185) solid 2px;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25);
}

button#buscar:active {
    border: rgb(255, 255, 255);
    background-color: rgb(185, 185, 185);
}

#buscar img {
    width: 30px;
}

#buscar img:active {
    width: 35px;
}

/* CARD DE PUBLICAÇÃO */

.card-default {
    animation: card-intro .5s;
}

.card-default h4 {
    color: rgb(54, 54, 54);
    margin: 0;
}

.infos {
    display: flex;
    flex-direction: row;
}

.descricao {
    display: flex;
    align-items: center;
    margin: 0;
    width: 55%;
    text-align: justify;
}

.compartilhar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
}

.compartilhar img {
    height: 20px;
    width: 20px;
    width: 20%;
}

.autores {
    display: flex;
    align-items: center;
    width: 40%;
}

.download-ano {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ano-publicacao {
    margin: 15px;
    font-size: 12px;
    font-weight: bold;
}

#ver-mais {
    font-weight: bold;
    color: rgb(67, 67, 67);
}

#ver-mais:hover {
    cursor: pointer;
    color: rgb(87, 87, 87);
}

/* MODAL */

.modal {
    overflow: auto;
    padding: 20px 0;
}

.modal p {
    text-align: justify;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    .infos {
        display: flex;
        flex-direction: column;
    }

    .descricao, .compartilhar, .autores {
        width: 100%;
        transition: 1s;
    }

    .compartilhar img {
        height: 20px;
        width: 5%;
    }

    /* TRANSIÇÕES */

    .descricao, .compartilhar, .autores {
        transition: 1s;
    }

}

@media (max-width: 800px) {
    .compartilhar img {
        height: 20px;
        width: 7%;
    }
}

@media (max-width: 640px) {
    .compartilhar img {
        height: 20px;
        width: 9%;
    }
}