/* FORMULÁRIO DE BUSCA */

section#buscar form {
    display: flex;
    flex-direction: column;
    width: 550px;
    transition: 1s;
    margin: auto;
}

section#buscar label {
    margin-left: 5px;
    margin-bottom: 5px;
}

section#buscar input {
    border: rgb(185, 185, 185) solid 2px;
    border-radius: 2.5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

button#buscar {
    margin: 0 auto;
    border: rgb(185, 185, 185) solid 2px;
    background-color: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}

button#buscar:active {
    border: rgb(255, 255, 255);
    background-color: rgb(185, 185, 185);
}

#buscar img:active {
    width: 55px;
}

#buscar img {
    width: 50px;
}

/* CARD DE PUBLICAÇÃO */

.card-default {
    animation: card-intro .5s;
}

.card-default h4 {
    color: rgb(54, 54, 54);
    margin: 0;
    margin-bottom: 10px;
}

.infos {
    display: flex;
    flex-direction: row;
}

.descricao, .compartilhar, .autores {
    transition: 1s;
}

.descricao {
    margin: 0;
    width: 55%;
    text-align: justify;
}

.compartilhar {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
}

.compartilhar img {
    height: 20px;
    width: 20px;
    width: 20%;
}

.autores {
    width: 40%;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    section#buscar form {
        width: 400px;
        transition: 1s;
    }

    .infos {
        display: flex;
        flex-direction: column;
    }

    .descricao, .compartilhar, .autores {
        width: 100%;
        transition: 1s;
    }

    .compartilhar img {
        height: 20px;
        width: 5%;
    }
}

@media (max-width: 800px) {
    section#buscar form {
        width: 300px;
        transition: 1s;
    }




    .compartilhar img {
        height: 20px;
        width: 7%;
    }
}

@media (max-width: 640px) {
    section#buscar form {
        width: 300px;
        transition: 1s;
    }

    .compartilhar img {
        height: 20px;
        width: 9%;
    }
}