/* FORMULÁRIO DE BUSCA */

section#buscar form {
    display: flex;
    flex-direction: column;
    padding: 0 30%;
}

section#buscar label {
    margin-left: 5px;
    margin-bottom: 5px;
}

section#buscar input {
    border:rgb(185, 185, 185) solid 2px;
    border-radius: 2.5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

button#buscar {
    margin: 0 auto;
    border:rgb(185, 185, 185) solid 2px;
    background-color: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}

button#buscar:active {
    border:rgb(255, 255, 255);
    background-color: rgb(185, 185, 185);
}

#buscar img:active {
    width: 55px;
}

#buscar img {
    width: 50px;
}

/* CARD DE PUBLICAÇÃO */

.card-publicacao {
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.527);
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
}

.card-publicacao h4 {
    color: rgb(54, 54, 54);
    margin: 0;
    margin-bottom: 10px;
}

.infos {
    display: flex;
    flex-direction: row;
}

.descricao {
    margin: 0;
    width: 55%;
    text-align: justify;
}

.compartilhar {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 25%;

}

.compartilhar img {
    height: 20px;
    width: 20px;
    width: 20%;
}

.autores {
    width: 40%;
}

@media (max-width: 1000px){
    section#buscar form{
        padding: 0 20%;
    }

    .infos {
        display: flex;
        flex-direction: column;
    }

    .descricao, .compartilhar, .autores {
        width: 100%;
    }
}