main .espaço {
    margin: 0 auto;
    width: 70%;
}

main .espaco p {
    text-align: justify;
}

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.galeria img {
    width: 387px;
    margin: 5px;
}

/*
MEDIA QUERIES
*/

@media (max-width: 571px) {
    .galeria img {
        width: 327px;
    }
}

@media (max-width: 483px) {
    .galeria img {
        width: 267px;
    }
}