/* VARIÁVEIS */

:root {
    --azul: #6FA9B3;
    --amarelo: rgba(243, 210, 72, 0.94);
    --cinza: #eeeeee70;
    --c4: black;
    --btn-hover-azul: rgb(101, 144, 151);

    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 14px;

    /*
    --width-md: 1280px;
    --width-sm: 640px;
    */
}

/* CONFIGURAÇÃO GERAL DO CORPO */

body {
    margin: auto;
    font-family: sans-serif;
    background-color: var(--cinza);
    max-width: 1920px;
    font-size: var(--font-size-lg);
    color: rgb(54, 54, 54);
}

main {
    animation: fade-in .75s;
    margin-bottom: 60px;
}

/* BOTÃO */

.btn-default {
    border-style: none;
    border-radius: 5px;
    padding: 5px 15px;
    height: 40px;
    background-color: var(--azul);
    color: white;
    transition: 0.5s;
}

.btn-default:hover {
    background-color: var(--btn-hover-azul);
    cursor: pointer;
    transition: 0.5s;
}

.btn-default:active {
    background-color: white;
    border: 2px rgb(101, 144, 151) solid;
    color: rgb(101, 144, 151);
    transition: 0.1s;
}

/* BOTÃO RETORNAR AO TOPO */

#btn-return-to-top {
    display: none;
    color: white;
    border: 2px solid #e0e0e0;
    background-color: #377c88;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.5);
}

#btn-return-to-top:hover {
    cursor: pointer;
    border: 2px solid #377c88;
    background-color: white;
    color: #377c88;
}

#btn-return-to-top.show {
    display: block;
    animation: btn-return-to-top-intro .75s;
}

#btn-return-to-top.reverse {
    animation: btn-return-to-top-intro .75s forwards reverse;
}

/* LINK */



/* TÍTULO */

h2.titulo {
    animation: titulo-intro .5s;
    color: rgb(34, 34, 34);
    text-align: center;
    margin: 50px 0;
}

h3.titulo {
    animation: titulo-intro .5s;
    text-align: center;
}

/* DIVISÓRIA HORIZONTAL */

hr {
    animation: increase .5s;
    margin: 35px 10%;
    border-color: rgba(224, 224, 224, 0.3);
}

/* FORM */

.form-default {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: auto;
    transition: 1s;
}

.form-default label {
    margin-left: 5px;
    margin-bottom: 5px;
}

input.text-box-default {
    border: rgb(185, 185, 185) solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: var(--font-size-lg);
}

/* CARD */

.card-default {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 25px;
}

.titulo-card-default {
    color: rgb(80, 80, 80);
    margin-top: 0;
    text-align: center;
}

.header-card-default {
    width: 100%;
    border-bottom: 2px rgb(192, 192, 192) solid;
    text-align: center;
    margin-bottom: 10px;
}

.card-default h4 {
    margin-top: 0;
    margin-bottom: 0;
}

/* MODAL */

.btn-fechar {
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    color: grey;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.btn-fechar:hover {
    background: rgba(206, 206, 206, 0.425);
    color: rgb(80, 80, 80);
    cursor: pointer;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-background.show {
    display: flex;
}

.modal {
    padding: 40px 0;
    width: 460px;
    height: 300px;
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
    align-items: center;
    z-index: 1002;
}

.botoes {
    float: left;
}

#infos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

#infos p {
    display: inline-block;
    margin-bottom: 15px;
}

.info {
    font-weight: bold;
    display: inline-flex;
    width: 90px;
}

.show .modal-background {
    animation: modal-background 3s;
}

.show .modal {
    animation: modal 0.5s;
}

.modal {
    animation: modal 0.5s;
}

/* PAGINAÇÃO */

.paginacao {
    margin-top: 40px;
}

.paginacao ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.paginacao li {
    margin: 2.5px 2.5px;
}

.paginacao a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(99, 99, 99);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
}

.active {
    color: white;
    background-color: rgb(176, 176, 176);
}

.paginacao a:hover {
    background-color: rgb(204, 204, 204);
}

/* A */

a {
    /*color: var(--c4);*/
    text-decoration: none;
}

a:visited {
    /*color: #0e2d33;*/
}

/* UL */

ul {
    margin: 0;
    padding: 0;
}

/* H */
h1.no-results {
    text-align: center;
}

/* BARRA DE ROLAGEM */

* {
    scrollbar-width: 15px;
    scrollbar-color: var(--azul) var(--cinza);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--cinza);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--azul);
    border-radius: 20px;

}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    body {
        font-size: var(--font-size-md);
        transition: 1s;
    }

    h2.titulo {
        padding-top: 50px;
    }

    .form-default {
        width: 400px;
    }

    input.text-box-default {
        font-size: var(--font-size-md);
    }

    .modal {
        width: 420px;
        height: 260px;
    }

    /* TRANSIÇÕES */

    .form-default, .modal {
        transition: 1s;
    }
}

@media (max-width: 640px) {
    body {
        font-size: var(--font-size-sm);
        transition: 1s;
    }

    .form-default {
        width: 300px;
    }

    input.text-box-default {
        font-size: var(--font-size-sm);
    }

    .modal {
        width: 380px;
        height: 220px;
    }

    /* TRANSIÇÕES */

    .form-default, .modal {
        transition: 1s;
    }
}

@media (max-width: 381px) {
    .modal {
        width: 90%;
    }
}

/* ANIMAÇÕES */

@keyframes increase {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes card-intro {
    from {
        opacity: 0.5;
        transform: translate3d(0, 25px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes card-inc-intro {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes titulo-intro {
    from {
        opacity: 0.5;
        transform: translate3d(0, -10px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes btn-return-to-top-intro {
    from {
        transform: translate3d(0, 100px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes modal-background {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}