:root {
    --azul: #6FA9B3;
    --amarelo: rgba(243, 210, 72, 0.94);
    --cinza: #eeeeee70;
    --btn-hover-azul: rgb(101, 144, 151);
}

body{
    margin: auto;
    font-family: sans-serif;
    background-color: var(--cinza);
    max-width: 1920px;
    font-size: 18px;
    color: rgb(54, 54, 54);
}

main {
    margin-bottom: 60px;
}

button {
    border-style: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    background-color: var(--azul);
    color: white;
    transition: 0.5s;
}

button:hover {
    background-color: var(--btn-hover-azul);
    cursor: pointer;
    transition: 0.5s;
}

button:active {
    background-color: white;
    border: 2px rgb(101, 144, 151) solid;
    color: rgb(101, 144, 151);
    transition: 0.1s;
}

h2.titulo{
    color: rgb(34, 34, 34);
    text-align: center;
    margin: 50px 0;
}

hr {
    margin: 25px 10%;
    color: rgba(109, 109, 109, 0.5);
}

@media (max-width: 400px) {
    body {
        font-size: 16px;
        color: rgb(10, 10, 10);
    }
}